<% content_for :nav_bar do %>
  <div class="w-full flex justify-between p-4 items-center">
    <h3 class="text-sm"><%= Time.now.strftime('%d %B') %></h3>
    <div class="flex rounded-full p-1 border border-slate-300 text-xs gap-1" data-controller="previewer">
      <% ['daily', 'weekly', 'monthly'].each_with_index do |val, idx| %>
        <%= link_to val.capitalize, previewer_path(val), class: "p-2 rounded-full hover:bg-gray-200", data: {previewer_target: val, action: "previewer#changeIndex", previewer_index_param: idx, turbo_frame: 'home_previewer', turbo_action: 'advance'}  %>
      <% end %>
    </div>
  </div>
<% end %>
